body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @font-face {
    font-display: swap;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/mulish-v12-latin-300.eot");
    src: url("../fonts/mulish-v12-latin-300.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/mulish-v12-latin-300.woff2") format("woff2"),
      url("../fonts/mulish-v12-latin-300.woff") format("woff"),
      url("../fonts/mulish-v12-latin-300.ttf") format("truetype"),
      url("../fonts/mulish-v12-latin-300.svg#Mulish") format("svg");
  }
  @font-face {
    font-display: swap;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/mulish-v12-latin-regular.eot");
    src: url("../fonts/mulish-v12-latin-regular.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/mulish-v12-latin-regular.woff2") format("woff2"),
      url("../fonts/mulish-v12-latin-regular.woff") format("woff"),
      url("../fonts/mulish-v12-latin-regular.ttf") format("truetype"),
      url("../fonts/mulish-v12-latin-regular.svg#Mulish") format("svg");
  }
  @font-face {
    font-display: swap;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/mulish-v12-latin-500.eot");
    src: url("../fonts/mulish-v12-latin-500.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/mulish-v12-latin-500.woff2") format("woff2"),
      url("../fonts/mulish-v12-latin-500.woff") format("woff"),
      url("../fonts/mulish-v12-latin-500.ttf") format("truetype"),
      url("../fonts/mulish-v12-latin-500.svg#Mulish") format("svg");
  }
  @font-face {
    font-display: swap;
    font-family: "Mulish";
    font-style: italic;
    font-weight: 500;
    src: url("../fonts/mulish-v12-latin-500italic.eot");
    src: url("../fonts/mulish-v12-latin-500italic.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/mulish-v12-latin-500italic.woff2") format("woff2"),
      url("../fonts/mulish-v12-latin-500italic.woff") format("woff"),
      url("../fonts/mulish-v12-latin-500italic.ttf") format("truetype"),
      url("../fonts/mulish-v12-latin-500italic.svg#Mulish") format("svg");
  }
  @font-face {
    font-display: swap;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/mulish-v12-latin-600.eot");
    src: url("../fonts/mulish-v12-latin-600.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/mulish-v12-latin-600.woff2") format("woff2"),
      url("../fonts/mulish-v12-latin-600.woff") format("woff"),
      url("../fonts/mulish-v12-latin-600.ttf") format("truetype"),
      url("../fonts/mulish-v12-latin-600.svg#Mulish") format("svg");
  }
  @font-face {
    font-display: swap;
    font-family: "Mulish";
    font-style: italic;
    font-weight: 600;
    src: url("../fonts/mulish-v12-latin-600italic.eot");
    src: url("../fonts/mulish-v12-latin-600italic.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/mulish-v12-latin-600italic.woff2") format("woff2"),
      url("../fonts/mulish-v12-latin-600italic.woff") format("woff"),
      url("../fonts/mulish-v12-latin-600italic.ttf") format("truetype"),
      url("../fonts/mulish-v12-latin-600italic.svg#Mulish") format("svg");
  }
  @font-face {
    font-display: swap;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/mulish-v12-latin-700.eot");
    src: url("../fonts/mulish-v12-latin-700.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/mulish-v12-latin-700.woff2") format("woff2"),
      url("../fonts/mulish-v12-latin-700.woff") format("woff"),
      url("../fonts/mulish-v12-latin-700.ttf") format("truetype"),
      url("../fonts/mulish-v12-latin-700.svg#Mulish") format("svg");
  }
  @font-face {
    font-display: swap;
    font-family: "Mulish";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/mulish-v12-latin-700italic.eot");
    src: url("../fonts/mulish-v12-latin-700italic.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/mulish-v12-latin-700italic.woff2") format("woff2"),
      url("../fonts/mulish-v12-latin-700italic.woff") format("woff"),
      url("../fonts/mulish-v12-latin-700italic.ttf") format("truetype"),
      url("../fonts/mulish-v12-latin-700italic.svg#Mulish") format("svg");
  }
  @font-face {
    font-display: swap;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/mulish-v12-latin-800.eot");
    src: url("../fonts/mulish-v12-latin-800.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/mulish-v12-latin-800.woff2") format("woff2"),
      url("../fonts/mulish-v12-latin-800.woff") format("woff"),
      url("../fonts/mulish-v12-latin-800.ttf") format("truetype"),
      url("../fonts/mulish-v12-latin-800.svg#Mulish") format("svg");
  }
  @font-face {
    font-display: swap;
    font-family: "Mulish";
    font-style: italic;
    font-weight: 800;
    src: url("../fonts/mulish-v12-latin-800italic.woff2") format("woff2"),
      url("../fonts/mulish-v12-latin-800italic.woff") format("woff"),
      url("../fonts/mulish-v12-latin-800italic.ttf") format("truetype"),
      url("../fonts/mulish-v12-latin-800italic.svg#Mulish") format("svg");
  }
  @font-face {
    font-display: swap;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/mulish-v12-latin-900.eot");
    src: url("../fonts/mulish-v12-latin-900.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/mulish-v12-latin-900.woff2") format("woff2"),
      url("../fonts/mulish-v12-latin-900.woff") format("woff"),
      url("../fonts/mulish-v12-latin-900.ttf") format("truetype"),
      url("../fonts/mulish-v12-latin-900.svg#Mulish") format("svg");
  }
  @font-face {
    font-display: swap;
    font-family: "Mulish";
    font-style: italic;
    font-weight: 900;
    src: url("../fonts/mulish-v12-latin-900italic.eot");
    src: url("../fonts/mulish-v12-latin-900italic.eot?#iefix")
        format("embedded-opentype"),
      url("../fonts/mulish-v12-latin-900italic.woff2") format("woff2"),
      url("../fonts/mulish-v12-latin-900italic.woff") format("woff"),
      url("../fonts/mulish-v12-latin-900italic.ttf") format("truetype"),
      url("../fonts/mulish-v12-latin-900italic.svg#Mulish") format("svg");
  }
  body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6,
  [class^="heading--h"] {
    font-family: "Mulish", sans-serif;
    line-height: 1.1;
    margin-bottom: 1.5rem;
  }
  h1,
  .h1,
  .heading--h1 {
    font-size: 3rem;
    font-weight: 900;
  }
  h2,
  .h2,
  .heading--h2 {
    font-size: 2rem;
    font-weight: 900;
  }
  h3,
  .h3,
  .heading--h3 {
    font-size: 1.75rem;
    font-weight: 900;
  }
  h4,
  .h4,
  .heading--h4 {
    font-size: 1.5rem;
    font-weight: 800;
  }
  h5,
  .h5,
  .heading--h5 {
    font-size: 1.25rem;
    font-weight: 800;
  }
  h6,
  .h6,
  .heading--h6 {
    font-size: 1rem;
    font-weight: 800;
  }
  p {
    margin-bottom: 1.5rem;
  }
  a {
    color: #000;
  }
  a:hover,
  a:active,
  a:focus {
    color: #000;
    text-decoration: underline;
  }
  .dark:not(.no-dark),
  .dark:not(.no-dark) h1,
  .dark:not(.no-dark) .h1,
  .dark:not(.no-dark) h2,
  .dark:not(.no-dark) .h2,
  .dark:not(.no-dark) h3,
  .dark:not(.no-dark) .h3,
  .dark:not(.no-dark) h4,
  .dark:not(.no-dark) .h4,
  .dark:not(.no-dark) h5,
  .dark:not(.no-dark) .h5,
  .dark:not(.no-dark) h6,
  .dark:not(.no-dark) .h6,
  .dark:not(.no-dark) li,
  .dark:not(.no-dark) p,
  .dark:not(.no-dark) .date,
  .dark:not(.no-dark) .time {
    color: #fff;
  }
  .dark:not(.no-dark) a:not(.btn) {
    transition: color 0.2s ease-in-out;
    color: #fff;
  }
  .dark:not(.no-dark) a:not(.btn):hover,
  .dark:not(.no-dark) a:not(.btn):active,
  .dark:not(.no-dark) a:not(.btn):focus {
    color: #e9a938;
    text-decoration: underline;
  }
  .disclaimer {
    font-size: 0.8rem;
  }
  body {
    transition: padding-top 0.5s ease-in-out;
    padding-top: 80px;
  }
  body section {
    overflow-x: hidden;
  }
  @media (max-width: 767.98px) {
    body {
      padding-top: 80px;
    }
  }
  body .site-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  header.site-navigation {
    background-color: #fff;
  }
  header.site-navigation img.nav__logo {
    max-height: 50px;
  }
  header.site-navigation > .container,
  header.site-navigation > .container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    header.site-navigation > .container {
      min-width: 100%;
    }
  }
  header.site-navigation > .container nav {
    height: 100%;
    padding: 0 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    min-height: 80px;
    padding: 20px 15px;
  }
  header.site-navigation > .container nav,
  header.site-navigation > .container nav * {
    transition: all 0.2s ease-in-out;
  }
  header.site-navigation > .container nav a {
    color: #fff;
    line-height: 1.1;
  }
  header.site-navigation > .container nav a:hover {
    color: orange;
  }
  header.site-navigation > .container nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  header.site-navigation nav a.nav__btn-cta {
    background-color: #e9a938;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  header.site-navigation nav a.nav__btn-cta:hover {
    background-color: #d69118;
    color: #000;
  }
  .footer {
    position: relative;
    background: #000;
    background-image: url("../images/LD_Website_FooterLogo.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 80%;
    color: #fff;
  }
  .footer__cta {
    position: relative;
    top: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--ld-yellow);
    margin: 0 60px 0;
  }
  .footer__cta h4,
  .footer__cta .h4 {
    font-size: 24px;
    line-height: 26px;
  }
  .footer__cta-btn {
    min-width: 300px;
    padding: 1rem;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--black);
    color: var(--white);
    transition: color 0.3s ease-in-out;
    background-image: url("../images/icons/LD_Website_ButtonLogo.png");
    background-position: right;
    background-repeat: no-repeat;
  }
  .footer__cta-btn:hover,
  .footer__cta-btn:active,
  .footer__cta-btn:focus {
    color: #ccc;
  }
  @media (max-width: 768px) {
    .footer__cta {
      margin: 0 15px 0;
    }
    .footer__cta h4,
    .footer__cta .h4 {
      font-size: 18px;
    }
    .footer__cta-btn {
      font-size: 16px;
      min-width: 200px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .footer__cta h4,
    .footer__cta .h4,
    .footer__cta-btn {
      font-size: 22px;
    }
  }
  @media (max-width: 991px) {
    .footer__cta {
      flex-direction: column;
      text-align: center;
    }
    .footer__cta h4,
    .footer__cta .h4 {
      margin: 1rem 0;
    }
    .footer__cta-btn {
      margin: 1rem 0;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  @media (min-width: 992px) {
    .footer__cta-btn {
      min-width: 300px;
    }
  }
  .footer__boxes {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
  }
  .footer__box {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    box-sizing: border-box;
  }
  @media only screen and (max-width: 768px) {
    .footer__box {
      text-align: center;
    }
    .footer__box a {
      max-width: 300px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1328px) {
    .footer__box {
      padding: 0 2rem;
    }
  }
  @media only screen and (max-width: 1199px) {
    .footer__box {
      padding: 0 1rem;
    }
    .footer__box .phonebtn {
      padding: 7px 0;
    }
  }
  @media only screen and (max-width: 991px) {
    .footer__box {
      width: 100% !important;
    }
  }
  .footer__box--01 {
    padding-left: 0;
    border-bottom: none;
  }
  .footer__box--02 {
    padding: 1rem;
  }
  .footer__box--03 {
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
  }
  @media only screen and (max-width: 768px) {
    .footer__box--03 {
      flex-direction: column;
      padding-bottom: 30px;
    }
  }
  @media only screen and (max-width: 991px) {
    .footer__box--03 {
      box-sizing: border-box;
      width: 100% !important;
      position: relative;
    }
  }
  .footer__box--03 ul {
    margin: 0;
    padding: 0;
  }
  @media only screen and (max-width: 991px) {
    .footer__box--03 ul {
      text-align: center;
      margin: 0;
    }
  }
  .footer__box--03 ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 5px;
  }
  .footer__box--03 ul li:last-child {
    padding-right: 0;
  }
  .footer__box--04 {
    padding: 1rem;
    border-bottom: 0;
  }
  .footer__box__buttons {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  @media only screen and (max-width: 991px) {
    .footer__box__buttons {
      text-align: center;
    }
  }
  .footer__box__buttons > li {
    width: 100%;
    list-style-type: none;
    display: inline-block;
  }
  @media only screen and (max-width: 991px) {
    .footer__box__buttons > li {
      padding: 0 5px;
    }
  }
  .footer__box__buttons > li .primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.2rem;
    max-width: 320px;
    margin: 0 auto;
  }
  .footer__box__buttons > li .primary-button img {
    width: 2.2rem;
    margin-right: 0.7rem;
  }
  .footer__box__join {
    text-align: center;
  }
  .footer__box__join .join-icon {
    max-width: 4rem;
    margin: 5px auto;
  }
  .footer__box__join p {
    color: var(--white);
    margin-bottom: 0;
  }
  .footer__box__join .join-link {
    color: var(--ld-yellow);
  }
  .footer__box__join .join-link:hover {
    color: var(--ld-yellow-hover);
  }
  .footer__box__join .join-link:visited {
    color: #ca8816;
  }
  .footer__menu {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  @media only screen and (min-width: 992px) {
    .footer__menu {
      display: flex;
      max-width: 998px;
      justify-content: space-around;
    }
  }
  @media only screen and (max-width: 768px) {
    .footer__menu .footer-link-white span {
      text-decoration: underline;
    }
  }
  .footer__menu > li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-bottom: 2rem;
  }
  .footer__menu > li > a,
  .footer__menu > li > span {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
  }
  .footer__menu > li > a:hover {
    color: #e9a938;
  }
  .footer__menu > li > ul {
    padding: 0;
    display: block;
    width: 100%;
    list-style: none;
    margin: 0;
  }
  .footer__menu > li > ul > li {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .footer__menu > li > ul > li > a,
  .footer__menu > li > ul > li > span {
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    display: block;
    text-decoration: none;
    cursor: pointer;
  }
  @media only screen and (min-width: 992px) {
    .footer__menu > li > ul > li > a:hover,
    .footer__menu > li > ul > li > span:hover {
      color: #e9a938;
    }
  }
  .footer__menu > li > ul > li.actived > ul {
    max-height: 100%;
    opacity: 1;
  }
  .footer__menu > li > ul > li > ul {
    padding: 0;
    padding: 0 0 10px 10px;
    margin: 0;
    width: 100%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .footer__menu > li > ul > li > ul > li {
    width: 100%;
  }
  .footer__menu > li > ul > li > ul > li:nth-child(1) {
    border: none;
  }
  .footer__menu > li > ul > li > ul > li > a {
    color: #fff;
    padding: 10px 0;
    font-size: 14px;
    line-height: 20px;
    display: block;
    text-decoration: none;
    font-weight: normal;
  }
  @media only screen and (min-width: 992px) {
    .footer__menu > li > ul > li > ul > li > a:hover {
      color: #e9a938;
    }
  }
  .footer__menu .gotsub {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    position: relative;
    z-index: 1;
  }
  .footer__menu .gotsub:after {
    content: "";
    display: block;
    position: absolute;
    height: 9px;
    width: 15px;
    background: url(../images/iconArrow.svg) no-repeat;
    background-position: center;
    background-size: 15px 9px;
    right: 0;
    top: 16px;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    z-index: -1;
  }
  .footer__menu .gotsub.actived:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .footer__copyright {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
  }
  @media (max-width: 768px) {
    .footer__copyright {
      margin-bottom: 0;
    }
  }
  @media only screen and (max-width: 991px) {
    .footer__copyright {
      border: none;
    }
  }
  .footer__copyright__logo {
    display: flex;
    flex-grow: 1;
    height: 2rem;
    width: auto;
    margin: 0.5rem 0 1rem;
  }
  .footer__copyright__text {
    display: flex;
    flex-grow: 1;
    margin: 1rem 0;
    justify-content: center;
    color: #969696;
  }
  .footer__copyright__menu {
    display: flex;
    flex-grow: 1;
    margin: 1rem 0;
    list-style-image: none;
  }
  @media only screen and (max-width: 991px) {
    .footer__copyright__menu {
      padding: 0;
      margin: 0;
    }
  }
  .footer__copyright__menu li:after {
    content: "";
    height: 12px;
    width: 1px;
    display: inline-block;
    margin: 0 5px;
    background: #979797;
    position: relative;
    top: 1px;
  }
  @media only screen and (max-width: 991px) {
    .footer__copyright__menu li:after {
      top: 2px;
    }
  }
  .footer__copyright__menu li:last-child:after {
    display: none;
  }
  .footer__copyright__menu li a {
    color: #e9a938;
    font-size: 0.9rem;
  }
  @media only screen and (max-width: 767px) {
    .footer__copyright__menu li a span {
      text-decoration: underline;
    }
  }
  .footer__copyright > ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  @media only screen and (max-width: 991px) {
    .footer__copyright > ul {
      width: 100%;
    }
  }
  .footer__copyright > ul > li {
    display: flex;
  }
  @media only screen and (min-width: 992px) {
    .footer__copyright > ul > li {
      align-items: center;
    }
  }
  .footer--call {
    display: flex;
    background: #e9a938;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: center;
    z-index: 998;
    -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.2s;
  }
  .footer--call.inactive {
    bottom: -70px;
    transition: all 0.2s;
  }
  @media only screen and (min-width: 768px) {
    .footer--call {
      display: none;
    }
  }
  .footer--call__phone {
    padding: 10px 0;
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-content: center;
    justify-content: center;
    text-decoration: none;
  }
  .footer--call__phone:hover {
    text-decoration: none;
  }
  .footer--call__phone .fa.fa-phone {
    vertical-align: -1px;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
  }
  .footer--call__phone .phone-number {
    margin-left: 1rem;
    font-weight: 800;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
  .footer .attorney-group {
    flex: 1;
    text-align: center;
    margin-bottom: 40px;
    padding: 2rem 1rem;
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
  }
  .footer .attorney-group h3,
  .footer .attorney-group .h3 {
    text-transform: uppercase;
  }
  .footer .attorney-group .primary-button {
    color: #fff;
    width: fit-content;
    background-image: url("../images/icons/LD_Website_ButtonLogo.png");
    background-position: right;
    background-repeat: no-repeat;
  }
  @media (max-width: 991px) {
    .footer .attorney-group {
      flex-direction: column;
      padding: 2.5rem 1rem;
    }
    .footer .attorney-group h3,
    .footer .attorney-group .h3 {
      margin-top: 0;
    }
  }
  .hero h1,
  .hero .h1,
  .hero .hero__title,
  .body-hero h1,
  .body-hero .h1,
  .body-hero .hero__title {
    font-size: 3rem;
    line-height: 1.1;
    margin: 0 0 15px 0;
  }
  .hero h1 + p,
  .hero .h1 + p,
  .hero h1 + .hero__subtitle,
  .hero .h1 + .hero__subtitle,
  .hero .hero__title + p,
  .hero .hero__title + .hero__subtitle,
  .body-hero h1 + p,
  .body-hero .h1 + p,
  .body-hero h1 + .hero__subtitle,
  .body-hero .h1 + .hero__subtitle,
  .body-hero .hero__title + p,
  .body-hero .hero__title + .hero__subtitle {
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .hero .hero-btns,
  .body-hero .hero-btns {
    margin-top: 30px;
    width: 320px;
  }
  .hero .hero-btns .btn,
  .body-hero .hero-btns .btn {
    width: 100%;
    padding: 10px 15px;
  }
  .hero .hero-btns .btn + .btn,
  .body-hero .hero-btns .btn + .btn {
    margin-top: 15px;
  }
  form.ld-form {
    margin-top: 40px;
  }
  form.ld-form:not(.no-separation) {
    border-top: solid 1px #ccc;
    padding-top: 40px;
  }
  form.ld-form div.form-item,
  form.ld-form fieldset {
    overflow: hidden;
    transition: max-height 0.75s ease-in-out;
    max-height: 95px;
  }
  form.ld-form div.form-item.form-error,
  form.ld-form fieldset.form-error {
    max-height: 1000px;
  }
  form.ld-form div.form-item label,
  form.ld-form fieldset label {
    font-weight: 700;
  }
  form.ld-form div.form-item label + input,
  form.ld-form div.form-item label + select,
  form.ld-form div.form-item label + textarea,
  form.ld-form fieldset label + input,
  form.ld-form fieldset label + select,
  form.ld-form fieldset label + textarea {
    margin-top: 10px;
  }
  form.ld-form div.form-item input,
  form.ld-form div.form-item select,
  form.ld-form div.form-item textarea,
  form.ld-form fieldset input,
  form.ld-form fieldset select,
  form.ld-form fieldset textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  form.ld-form div.form-item span.form-error,
  form.ld-form fieldset span.form-error {
    color: red;
    font-size: 0.8em;
    display: block;
    margin-bottom: 15px;
  }
  form.ld-form select:after {
    content: "";
    font-size: 1.5em;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  body {
    font: 500 14px "Mulish", sans-serif;
  }
  .menu {
    display: none;
  }
  .content {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .content1 {
    margin: 0 auto;
  }
  @media (max-width: 991px) {
    .content1 {
      padding: 50px 15px;
    }
  }
  @media (min-width: 992px) {
    .content1 {
      padding: 100px 15px;
    }
    .container {
      max-width: 1000px;
    }
  }
  .content1 .container {
    max-width: 1000px;
  }
  .pageTitle {
    color: #666;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 64px 0 32px;
  }
  .quoteForm {
    padding: 30px 20px 30px 20px;
    background: #fff;
  }
  .quoteForm form {
    position: relative;
    overflow: hidden;
  }
  .quoteForm h2,
  .quoteForm .h2 {
    color: #000;
    font: 700 24px "Mulish", sans-serif;
    margin-top: 15px;
  }
  .subtitle {
    margin: 0 auto 20px auto;
    max-width: 500px;
  }
  .step .applyRange,
  .step .apply {
    border: none !important;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .step .applyRange {
    text-align: right;
  }
  .step .price .middle {
    text-align: center;
  }
  .forInput {
    position: relative;
    margin: 20px 0 35px;
  }
  .forInput > div {
    position: relative;
  }
  .form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  .form-group input,
  .form-group select,
  .form-group select option {
    max-width: 400px;
    font-size: 20px;
    color: #7c7c7c;
    border: 1px solid #cdcdcd;
    font-weight: 700;
  }
  .form-control-placeholder {
    text-align: left;
    position: absolute;
    top: 0;
    font-size: 20px;
    padding: 10px 0 0 18px;
    transition: all 200ms;
    opacity: 0.3;
    font-weight: 700;
  }
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    font-weight: 500;
  }
  .iconContainer {
    text-align: center;
    padding: 0;
  }
  .iconContainer .item {
    padding: 10px 20px 20px 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
  }
  .iconContainer .item .img {
    background: #dfdfdf;
    height: 180px;
    width: 180px;
    border-radius: 100%;
    margin: 0 auto;
    padding-top: 26px;
    border: 1px solid #cacaca;
    transition: 0.3s;
  }
  .iconContainer .item .img img {
    height: 110px;
    width: 110px;
  }
  .iconContainer .item h3,
  .iconContainer .item .h3 {
    padding: 0 0 0 5px;
    margin: 6px 0 0 0;
    color: #08c;
    font: 700 14px "Mulish", sans-serif;
  }
  .iconContainer .item h3 span,
  .iconContainer .item .h3 span {
    display: inline-block;
    transition: 0.3s;
  }
  .iconContainer .item:hover .img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .iconContainer .item:hover h3 span,
  .iconContainer .item:hover .h3 span {
    color: #69ad22;
    border-color: #69ad22;
  }
  .iconContainer h2,
  .iconContainer .h2 {
    margin: 10px 0 35px;
    margin-bottom: 20px !important;
    display: block;
  }
  #tcpa {
    margin: 50px auto 0;
    padding: 0 10px;
  }
  #tcpa_disclosure {
    margin-top: 40px;
    font-size: 12px;
    color: #6b6b6b;
  }
  .sliderContent {
    margin: 0 auto;
    text-align: center;
  }
  .sliderContainer {
    max-width: 500px;
    margin: 20px auto 40px auto;
    padding: 20px;
  }
  .slider-val {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #69ad22;
  }
  .progressLine {
    height: 18px;
    background-color: #dfdfdf;
    border: 1px solid #cacaca;
    position: relative;
  }
  #pgLine {
    left: 0;
    width: 10%;
    height: 100%;
    top: 0;
    background-color: #69ad22;
    color: #fff;
    font: italic 400 12px "Mulish", sans-serif;
    display: block;
    transition: width 0.5s;
    text-align: right;
    padding-right: 3px;
  }
  .step.active {
    z-index: 2;
    opacity: 1;
    position: relative;
  }
  .step {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .step .continue {
    min-width: 240px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .subForm {
    margin: 10px 0 30px 0;
    text-align: center;
  }
  .security {
    font-size: 12px;
    color: #666;
    padding: 10px 0 12px;
  }
  .security span {
    font-weight: 700;
  }
  .security img {
    margin: 0 6px 5px 6px;
  }
  .partners {
    margin-top: 20px;
  }
  .partners img {
    margin: 10px;
  }
  .testimonials {
    background-color: #fff;
    padding-bottom: 100px;
  }
  .testimonials h2,
  .testimonials .h2 {
    font: 900 24px "Mulish", sans-serif;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 35px;
  }
  .testimonials h2::after,
  .testimonials .h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    border-radius: 1px;
    background: #69ad22;
    left: 0;
    right: 0;
    bottom: -20px;
  }
  .carousel {
    margin: 0 auto;
    padding: 0;
  }
  .carousel .item {
    color: #999;
    overflow: hidden;
    min-height: 120px;
    font-size: 13px;
  }
  .carousel .media {
    position: relative;
    padding: 0 0 0 20px;
  }
  .carousel .media img {
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 50%;
  }
  .carousel .testimonial-wrapper {
    padding: 10px 10px 30px 10px;
  }
  .carousel .testimonial {
    font-size: 14px;
    color: gray;
    position: relative;
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #efefef;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  .carousel .testimonial::after {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    background-color: #f1f1f1;
    border: 1px solid #efefef;
    border-width: 0 0 1px 1px;
    position: absolute;
    bottom: -8px;
    left: 46px;
    transform: rotateZ(-46deg);
  }
  .carousel .star-rating li {
    margin: 0;
    padding: 0;
  }
  .carousel .star-rating i {
    font-size: 16px;
    color: #ffdc12;
  }
  .carousel .overview {
    padding: 3px 0 0 15px;
  }
  .carousel .overview .details {
    padding: 5px 0 8px;
  }
  .carousel .overview b {
    text-transform: uppercase;
    color: #69ad22;
  }
  .carousel .carousel-indicators {
    bottom: -70px;
  }
  .carousel-indicators li,
  .carousel-indicators li.active {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 1px 2px;
  }
  .carousel-indicators li {
    background-color: #e2e2e2;
    border: 4px solid #fff;
  }
  .carousel-indicators li.active {
    color: #fff;
    background-color: #69ad22;
    border: 5px double;
  }
  .card {
    border: none;
  }
  .faq {
    margin: 35px 0;
    background-color: #fff;
    padding: 30px 20px 50px 20px;
  }
  .faq h2,
  .faq .h2 {
    font: 900 24px "Mulish", sans-serif;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .box-part {
    background-color: #fff;
    border-radius: 0;
    padding: 50px 10px;
    margin: 30px 0px;
  }
  .text {
    margin: 20px 0px;
  }
  .fa {
    color: #4183d7;
  }
  .confirmation {
    margin-top: 0;
    background-color: #fff;
    padding: 30px 30px 10px 30px;
  }
  .confirmation h2,
  .confirmation .h2 {
    font: 900 24px "Mulish", sans-serif;
    color: #4f5f6f;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .confirmation h6,
  .confirmation .h6 {
    color: #4f5f6f;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .confirmation p {
    margin: 0 auto;
    max-width: 600px;
  }
  .thanks-header {
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: underline;
  }
  .blue {
    color: #0970a6;
  }
  .thanks-submit {
    cursor: pointer;
    max-width: 450px;
    text-align: center;
    border-radius: 6px;
    background: linear-gradient(to bottom, #f5c401 1%, #f27d00 100%);
    padding: 10px;
    border: none;
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
    margin: 20px auto 30px auto;
  }
  .benefits {
    max-width: 500px;
    margin: 10px auto 30px auto;
    text-align: left;
    font-size: 18px;
  }
  .partners {
    margin: 0 auto;
    max-width: 700px;
  }
  .partners img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .skip-this {
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    font-weight: normal;
    text-decoration: underline;
  }
  @media (max-width: 550px) {
    .iconContainer .item .img {
      background-color: #dfdfdf;
      height: 130px;
      width: 130px;
      border-radius: 100%;
      margin: 0 auto;
      padding-top: 20px;
      border: 1px solid #cacaca;
      transition: 0.3s;
    }
    .iconContainer .item .img img {
      height: 80px;
      width: 80px;
    }
  }
  @media (max-width: 450px) {
    .header-number a {
      font: 900 14px "Mulish", sans-serif;
    }
    .quoteForm {
      padding: 20px 10px 0 10px;
    }
    .sliderContainer {
      margin: 0 auto 10px auto;
      padding: 20px;
    }
    .iconContainer {
      width: 100%;
      text-align: center;
    }
    .iconContainer .item {
      padding: 10px 10px 20px 10px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
    }
    .iconContainer .item .img {
      background-color: #dfdfdf;
      height: 120px;
      width: 120px;
      border-radius: 100%;
      margin: 0 auto;
      padding-top: 15px;
      border: 1px solid #cacaca;
      transition: 0.3s;
    }
    .iconContainer .item .img img {
      height: 80px;
      width: 80px;
    }
  }
  @media (max-width: 370px) {
    .quoteForm {
      padding: 20px 10px 0 10px;
    }
    .sliderContainer {
      margin: 0 auto 10px auto;
      padding: 20px;
    }
    .iconContainer {
      width: 100%;
      text-align: center;
    }
    .iconContainer .item {
      padding: 10px 10px 20px 10px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
    }
    .iconContainer .item .img {
      background-color: #dfdfdf;
      height: 110px;
      width: 110px;
      border-radius: 100%;
      margin: 0 auto;
      padding-top: 15px;
      border: 1px solid #cacaca;
      transition: 0.3s;
    }
    .iconContainer .item .img img {
      height: 70px;
      width: 70px;
    }
  }
  .bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .bg.bg-position-left {
    background-position: left;
  }
  .bg.bg-position-right {
    background-position: right;
  }
  .bg.bg-position-top {
    background-position: top;
  }
  .bg.bg-position-bottom {
    background-position: bottom;
  }
  .overlay:not(.no-overlay),
  .overlay:not(.no-overlay) > div {
    position: relative;
  }
  .overlay:not(.no-overlay):before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: #000;
    opacity: 0.7;
  }
  .overlay:not(.no-overlay).overlay-light:before {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .module {
    padding: 100px 0;
  }
  .module--50 {
    padding: 50px 0;
  }
  button.btn,
  a.btn {
    font-family: "Mulish", sans-serif;
    background-color: #e9a938;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    border: solid 1px #e9a938;
    position: relative;
  }
  button.btn:not(.btn__sub-cta),
  a.btn:not(.btn__sub-cta) {
    background-image: url("../images/LD_Website_ButtonLogo.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100px;
  }
  button.btn:hover,
  a.btn:hover {
    background-color: #d69118;
    color: #000;
    border: solid 1px #d69118;
    text-decoration: none;
  }
  button.btn .btn__cta-subtext,
  a.btn .btn__cta-subtext {
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
    position: relative;
    margin: 0 0 5px 0;
    color: inherit;
  }
  button.btn.btn__sub-cta,
  a.btn.btn__sub-cta {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: solid 1px #fff;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
  }
  button.btn.btn__sub-cta:hover,
  a.btn.btn__sub-cta:hover {
    background-color: #fff;
    color: #000;
    border: solid 1px #fff;
  }
  .primary-bg {
    background-color: #000 !important;
  }
  .secondary-bg {
    background-color: #e9a938 !important;
  }
  .tertiary-bg {
    background-color: #999 !important;
  }
  .black-bg {
    background-color: #000 !important;
  }
  .neutral-bg {
    background-color: #eee !important;
  }
  .accordion:first-of-type,
  .accordion:first-of-type .accordion-button {
    border-radius: 0;
  }
  .accordion .accordion-item {
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  .accordion .accordion-item .accordion-body {
    font-size: 0.85rem;
    text-align: left;
  }
  .accordion .accordion-header .accordion-button {
    background-color: #e1e1e1;
    font-size: 1.1rem;
  }
  .accordion .accordion-header .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(233, 169, 56, 0.25);
  }
  .accordion .accordion-header .accordion-button:not(.collapsed) {
    background-color: #d5d5d5;
    color: initial;
  }
  .content-box {
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  .client-reviews .content-box,
  .client-reviews .content-box .client-review {
    transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
    width: 100%;
    height: auto;
  }
  .client-reviews .content-box {
    margin: 15px 0;
  }
  .client-reviews .content-box > *:not(:first-child):not(:last-child) {
    margin: 15px 0;
  }
  .client-reviews .content-box .rating img {
    max-height: 20px;
  }
  .client-reviews .content-box .author span.from-google:before,
  .client-reviews .content-box .author span.from-facebook:before {
    position: relative;
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    top: 5px;
  }
  .client-reviews .content-box .author span.from-google:before {
    content: url(../images/google-logo.png);
  }
  .client-reviews .content-box .author span.from-facebook:before {
    content: url(../images/facebook-logo.png);
  }
  .badge-row .col:first-child,
  .badge-row .col:last-child {
    max-height: 40px;
  }
  .badge-row img {
    max-height: 90px;
  }
  .icon__eq-height--64 img.icon {
    height: 100%;
    max-height: 64px;
    margin: 30px 0;
  }
  #osano_manage:not(.show) {
    display: none;
  }
  .fixed-scroll-cta {
    z-index: 1000;
    position: fixed;
    bottom: -100px;
    left: 0;
    padding: 15px 0;
    width: 100%;
    background-color: #00738a;
    font-weight: 800;
    font-size: 24px;
    color: #fff;
    transition: bottom 0.3s ease;
  }
  div#chat-widget-container {
    bottom: 0;
  } /*# sourceMappingURL=style.css.map */
  
  
  